{% extends "base.html" %}

{% block content %}
    <div class="container">
        <br>
        <h2 class="my-4 text-center">비밀번호 변경</h2>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-white">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}
