{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'products/css/product_create_style.css' %}">
{% endblock css %}

{% block content %}
<div class="container mt-5"> <!-- Margin-top을 증가시켜서 상단 여백 확보 -->
    <h2 class="page-title">New Product</h2>

    <form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data" class="product-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="button-group">
            <button type="submit" class="btn btn-save">저장</button>
            <a href="{% url 'products:products' %}" class="btn btn-back">목록으로</a>
        </div>
    </form>
</div>


{% endblock content %}