{% extends "base.html" %}

{% block content %}
<h2>Products</h2>

{% if request.user.is_authenticated %}
    <a href="{% url 'products:create' %}">
        <button>새로운 글작성</button>
    </a>
{% else %}
    <a href="{% url 'accounts:login' %}">로그인하고 글 작성하기</a>
{% endif %}

{% for product in products %}
    <a href="{% url 'products:product_detail' product.pk %}">
        <p>[ {{ product.pk }} ] {{ product.title }}</p>
    </a>

    <form action="{% url 'products:like' product.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in product.like_users.all %}
            <input type="submit" value="Unlike">
        {% else %}
            <input type="submit" value="Like">
        {% endif %}
    </form>

{% endfor %}

{% endblock content %}
