{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'products/css/product_update_style.css' %}">
{% endblock css %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 수정</title>

</head>

<body>
    <div class="edit-product-container">
        <h2>제품 수정</h2>
        <form action="{% url 'products:update' product.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">수정</button>
        </form>
        <a href="{% url 'products:product_detail' product.pk %}" class="back-link">이전으로</a>
    </div>
    <br><br><br>
</body>

</html>
{% endblock content %}