{% extends 'base.html' %}

{% block content %}
<h1>안녕하세요. {{ member.username }}님</h1>

<div>
    {% if member.profile_image %}
    <img src="{{ member.profile_image.url }}" alt="Profile Image">
    {% endif %}

    <h2>가입일 : {{ member.date_joined }}</h2>

    <!-- 사용자 등록 물품 수와 좋아하는 물품 수 표시 -->
    <h2><a href="{% url 'users:user_products' member.username %}">내 매물: {{ products_count }}</a></h2>
    <h2><a href="{% url 'users:user_liked_products' member.username %}">관심목록 : {{ liked_products_count }}</a></h2>

    <!-- 팔로워 수와 팔로우 수 -->
    <h2>팔로워 수: {{ member.user_followers.count }}</h2>
    <h2>팔로우 수: {{ member.user_followings.count }}</h2>

    {% if request.user == member %}
    <button>
        <a class="nav-link" href="{% url 'accounts:update' %}">회원정보수정</a>
    </button>
    {% else %}
    <form action="{% url 'users:follow' member.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user in member.user_followers.all %}
        <input type="submit" value="언팔로우">
        {% else %}
        <input type="submit" value="팔로우">
        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock content %}
