{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'users/css/profile_style.css' %}">
{% endblock css %}

{% block content %}
<div class="container my-4">
    <div class="profile-header text-center">
        <br>
        {% if request.user == member %}
        <h1>안녕하세요, {{ member.username }}님!</h1>
        {% else %}
        <h1>{{ member.username }}님의 프로필</h1>
        {% endif %}
        <br>

        <!-- 프로필 이미지 -->
        {% if member.profile_image %}
        <img src="{{ member.profile_image.url }}" alt="Profile Image" class="profile-image img-fluid rounded-circle">
        {% else %}
        <div class="profile-image-placeholder img-fluid rounded-circle"></div>
        {% endif %}

        <!-- 가입일 표시 -->
        <h2 class="mt-2 text-muted small">가입일: {{ member.date_joined }}</h2>
    </div>

    <br>
    <div class="profile-stats text-center my-4">
        <!-- 사용자 등록 물품 수와 좋아하는 물품 수 표시 -->
        <div class="d-flex justify-content-center mb-4">
            <div class="profile-stat-item">
                <h3>
                    <i class="bi bi-box"></i> <!-- 아이콘 -->
                    <a href="{% url 'users:user_products' member.username %}" class="profile-link">내 매물</a>
                </h3>
                <p class="profile-stat-count">{{ products_count }}</p> <!-- 매물 수 표시 -->
            </div>
            <div class="profile-stat-item">
                <h3>
                    <i class="bi bi-heart"></i> <!-- 하트 아이콘 -->
                    <a href="{% url 'users:user_liked_products' member.username %}" class="profile-link">관심목록</a>
                </h3>
                <p class="profile-stat-count">{{ liked_products_count }}</p> <!-- 관심 목록 수 표시 -->
            </div>
        </div>

        <!-- 팔로워 수와 팔로우 수 -->
        <div class="d-flex justify-content-center">
            <div class="profile-stat-item">
                <h4>팔로워</h4>
                <p class="profile-stat-count">{{ member.user_followers.count }}</p>
            </div>
            <div class="profile-stat-item">
                <h4>팔로잉</h4>
                <p class="profile-stat-count">{{ member.user_followings.count }}</p>
            </div>
        </div>
    </div>

    <br>
    <div class="text-center">
        {% if request.user == member %}
        <div class="profile-actions">
            <a class="btn btn-dark" href="{% url 'accounts:update' %}">회원정보수정</a>

            <form action="{% url 'accounts:delete' %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">회원탈퇴</button>
            </form>
        </div>
        {% else %}
        <form action="{% url 'users:follow' member.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            {% if request.user in member.user_followers.all %}
            <button type="submit" class="btn btn-secondary">언팔로우</button>
            {% else %}
            <button type="submit" class="btn btn-primary">팔로우</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
<br><br>

{% endblock content %}
