{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sparta Market{% endblock title %}</title>
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static '/css/base_style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- 아이콘 CSS -->
    {% block css %}{% endblock css %}
</head>

<body>
    <!-- Navigation Bar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/spart_market_logo.png' %}" alt="Sparta Market Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:products' %}">중고거래</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'products:search' %}">
                <input class="form-control mr-sm-2" type="search" name="query" placeholder="검색" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </form>
            <ul class="navbar-nav ml-3">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' request.user %}">Hello, {{request.user.username}}</a>
                </li>
                <li class="nav-item">
                    <form action="{% url 'accounts:logout' %}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link">로그아웃</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-primary text-white text-center py-5">
        <h1>환영합니다! 스파르타 마켓에 오신 것을 환영합니다.</h1>
    </header>

    <!-- Main Content -->
    <main class="container my-4">
        {% block content %}
        <!-- 페이지 콘텐츠가 여기에 삽입됩니다 -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center py-4">
        <br>
        <div class="container">
            <div class="footer-icons mb-4">
                <!-- Social Media Links -->
                <a href="https://github.com/kimwoolina/Sparta_market" target="_blank" class="social-icon">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.notion.so/teamsparta/538b435036144d2496aee007ff8d513b" target="_blank"
                    class="social-icon">
                    <i class="bi bi-file-earmark-text"></i>
                </a>
                <a href="#" target="_blank" class="social-icon">
                    <i class="bi bi-youtube"></i>
                </a>
                <a href="https://www.instagram.com/kimwoolina/" target="_blank" class="social-icon">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p class="text-muted mb-0">팀장 김우린 | 팀원 이상현 조도흠</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <p class="text-muted mb-0">&copy; 2024 Sparta Market. All rights reserved.</p>
                    <p class="text-muted mb-0">Sparta NB Camp</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>